#container {
    text-align: center;
    background-color: rgb(102, 102, 150);
    font: bold 20px Arial;
    color: white;
    width: 50%;
    margin: 0 auto;
}

#texto {
    font: bold 20px Arial;
    color: rgb(0, 0, 0);
    text-align: left;
    background-color: rgb(221, 183, 183);
    width: 100%;
}

#link{
    font: bold 20px Arial;
    background-color: rgb(131, 131, 151);
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    margin: 0 auto;
}
#footer{
    position: fixed;
    background-color: rgb(221, 183, 183);
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
}